#imgbody{
    /* background : linear-gradient(rgba(0,0,0,0.1), rgba(0, 0, 0, 0.6)), url(https://images.unsplash.com/photo-1558251338-5098973ffeea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80);  */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size : cover;
    margin: 0%;    
    }
    h1{
        text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
      }
